<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>

  <div class="row justify-content-md-center" style="margin-top: 100px">
    <div class="col-md-6">
      {% if message %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% endif %}

      <form method="POST" action="/login">
        <div class="form-group">
          <label for="UserNameForm">Username</label>
          <input
            name="username"
            type="username"
            class="form-control"
            id="UserNameForm"
            placeholder="Username"
          />
        </div>
        <div class="form-group">
          <label for="inputPassForm">Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            id="inputPassForm"
            placeholder="Password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</html>
